<!--divに修正-->
<div class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <h3>
          <strong class="is-size-1" style="font-family: cursive;">jimo!</strong>
        </h3>
        <h2>あなたの地元の好きなところ、おすすめしたいところの投稿しよう！</h2>
        
      </div>
     
           <%= link_to "新規投稿", new_project_path, class: "navbar-item button is-warning is-light" %>
          
    </div>
  </article>
  
</div> 
<!--divに修正-->